p Dear #{toWhom}

p Welcome to our ZeeWorkFlow Platform, your user name is #{email} under organization #{org}.

p To save lots of time, ZeeWorkFlow Platform is our new implement software where you can maintain your latest information such as contact number, address and etc., manage your business/individual accounting & tax tasks and also communicate with us by uploading, downloading, signing documents electronically.

p This email is registered as user to login the platform and give you the access to all your portfolios which you can set up later under your login. Each registered email is the only authorised person who is given by the director of business/individual to deal with all the tasks related with business/individual. If you do not want to manage the business/individual, please delete it from your portal or contact us directly.

p  
  a(href=website + '/terms_and_conditions') Here
  |  is the full term and condition and please read through and contact us if you DO NOT agree for it.

p Please click 
  a(href=website + '/login') here
  |  to login.

include ../signature.pug
