p Dear #{toWhom}

p Welcome to our Filedin Platform, your user name is #{email}.

p To save lots of time, Filedin Platform is our new implement software where you can maintain your latest information such as contact number, address and etc., manage your business/individual accounting & tax tasks and also communicate with us by uploading, downloading, signing documents electronically.

p This email is registered as user to login the platform and give you the access to all your portfolios which you can set up later under your login. Each registered email is the only authorised person who is given by the director of business/individual to deal with all the tasks related with business/individual. If you do not want to manage the business/individual, please delete it from your portal or contact us directly.

p  
  a(href=website + '/terms_and_conditions') Here
  |  is the full term and condition and please read through and contact us if you DO NOT agree for it.

p Please click 
  a(href=website + '/login') here
  |  to login.

p 尊敬的客户您好，欢迎加入Filedin 管理平台

p 为了节省时间，提高效率，Filedin 管理平台是我们新近开发的客户管理软件。此软件给客户提供了一个平台，让其能够维护个人信息，管理自己的财务和税务任务，实时查看进程。并且可以上传，下载文档，电子签字等。

p 此邮件注册为授权用户，此用户登陆后，可以为授权公司（公司董事/股东）/个人（当事人）生成一个文件夹，并被其授权处理相应的财务税务任务。此授权用户将是在平台上唯一被授权的管理者。如您不想管理时，请将其自行移除或及时通知我们。

p 请阅读平台使用的
  a(href=website + '/terms_and_conditions') 规则与条例
  | 。如您不希望使用，请及时于我们取得联系。

p 请点击
  a(href=website + '/login') 此处
  | 登录。

p 谢谢！
include ../signature.pug
