p Dear #{toWhom}

p Your task 
  strong 
    a(href=website + '/task/' + taskId) #{taskName}
  |  has received a new message. Please login to our website 
  a(href=website) #{website}
  |  to check the latest updates.

include ../signature.pug